<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name="add" class="com.model.Address">
    
    <property name="streetno" value="1"/>
     <property name="city" value="Noida"/>
      <property name="state" value="UP"/>
       <property name="country" value="India"/>
    </bean>
    <bean id="e1" class="com.model.Employee">
    <property name="id" value="420"></property>
    <property name="salary" value="200000"></property>
    <property name="name" value="Amit Kumar"></property>
    <property name="gender" value="Male"></property>
    </bean>
    
    <bean id="e2" class="com.model.Employee" parent="e1">
    <property  name="address" ref="add" />
    </bean>

    <!-- bean definitions here -->
</beans>