<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name="emp1" class="com.model.Employee">
    
    <property name="id" value="1"/>
     <property name="salary" value="10000000"/>
      <property name="name" value="Gaurav kumar"/>
       <property name="gender" value="male"/>
    <property name="list">
    
    <list>
         <value>100</value>
          <value>105</value>
           <value>106</value>
            <value>120</value>
             <value>130</value>
              <value>140</value>
     </list>
     
    </property>
    
    <property name="sets">
    
    <set>
       <value>1</value>
       <value>10</value>
       <value>100</value>
       <value>1000</value>
       <value>10000</value>
       <value>100000</value>
    </set>
    
    </property>
    
    <property name="map">
    
                <map>
                <entry key="1" value="ONE"/>
                <entry key="2" value="TWO"/>
                <entry key="3" value="THREE"/>
                <entry key="4" value="FOUR"/>
                <entry key="5" value="FIVE"/>
    
               </map>
    </property>
    </bean>
    

   
</beans>